.DS_Store

.vscode/
*.code-workspace

.pytest_cache/

target/
*.log
*.class

.mvn/wrapper/maven-wrapper.jar
backend/target/

node_modules/
dist/
build/
.env
.env.local

__pycache__/
*.pyc
.venv/
venv/

*.pid
classification-engine/app/generated/
